@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100px;
    background-color:seagreen;
    background:radial-gradient(skyblue,midnightblue);
    color:white;
    font-family:"courgette",Inter, Poppins, sans-serif;

}
