<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Freeha Gupta">
    <title>Flex Box</title>
    <style>
        * {
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        body{
            min-height:100dvh;
            font-family:"Courgette", sans-serif;
            font-size:16px;
            background-color:white;
            color:white;
        }
        section{
            padding:1rem;
        }
        .box{
            background-color:darkred;
        }
    </style>
</head>
<body>
    <section class="box" style="height: 10vh">Header/NavBar</section>
    <section
      class="box"
      style="height:80vh; background-color:white"
    ></section>
    <section
      class="box"
      style=""position:absolute; botton:0; left:0; height:10vh; width:100%;
    >
      Footer
</section>
    
</body>
</html>